<style>
   /* .updownicon span {
        display: block;
        font-size: 12px;
        color: #666;
        margin-top: -4px;
        cursor: pointer;
    }

    .updownicon span.on,
    .updownicon span:hover {
        color: #333;
    }

    .last-pagelist td {
        position: relative;
    }



    .last-pagelist .glyphicon:hover {
        color: #333;
    }



    .last-pagelist .glyphicon-refresh:hover {
        color: #1D1D1D;
    }
*/

</style>
<div>
    <button ng-click="getChecked()">点击</button>
    <table id="checkgrid" class="table table-bordered table-hover table-striped text-center">
        <thead>
        <tr>
            <th>Inv No</th>
            <th>Date</th>
            <th>Client</th>
            <th>Amount</th>
            <th>Tax</th>
            <th>Total</th>
            <th>Notes</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
       <!-- <tr>
            <td colspan="8">
                <span class="glyphicon glyphicon-fast-backward" style="cursor: pointer; color: #666;"></span>
                <span class="glyphicon glyphicon-step-backward" style="cursor: pointer; color: #666;"></span>
                <input style="width: 40px; text-align: center;" type="text">共<span>2</span>页
                <span class="glyphicon glyphicon-step-forward" style="cursor: pointer; color: #666;"></span>
                <span class="glyphicon glyphicon-fast-forward" style="cursor: pointer; color: #666;"></span>
                <span class="glyphicon glyphicon-refresh" style="float: left;margin-top: 4px;"></span>
                <select style="display: inline-block; width: 50px; height: 26px; vertical-align: middle; padding: 0; border-radius: 0;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
                <div style="float: right;margin-top: 4px;">
                    <span>1</span>-<span>11</span>
                    共<span>130</span>条
                </div>
            </td>
        </tr>-->
        </tfoot>
    </table>
</div>
